<h1>Enter a new contact:</h1>
<form action="/contact_created" method="post">
  <label for="new-firstName">First Name</label>
  <input id="new-firstName" name="new-firstName" type="text">

  <label for="new-lastName">Last Name</label>
  <input id="new-lastName" name="new-lastName" type="text">

  <label for="new-phoneNumber">Phone Number</label>
  <input id="new-phoneNumber" name="new-phoneNumber" type="text">

  <label for="new-streetAddress">Street Address</label>
  <input id="new-streetAddress" name="new-streetAddress" type="text">

  <label for="new-city">City</label>
  <input id="new-city" name="new-city" type="text">

  <label for="new-state">State</label>
  <input id="new-state" name="new-state" type="text">

  <label for="new-zipCode">Zip Code</label>
  <input id="new-zipCode" name="new-zipCode" type="text">
  <button type="submit">Add Contact</button>
</form>
